<main>
  <header class="header" #header>
    <div class="header-content">
      <div class="titles" #titleEl>
        <h1>Search the unsplash</h1>
        <p>The AdPlenty frontend challenge</p>
      </div>

      <input
        class="searchbar"
        type="text"
        placeholder="Search for images"
        [(ngModel)]="searchValue"
        (keydown.enter)="onSubmit()"
      />
    </div>
  </header>

  <div class="test"></div>
  <section class="main-content">
    <div class="gallery-container">
      <div class="gallery" (scroll)="onScrollLoadData()" #galleryElement>
        <div *ngFor="let image of data[0].results">
          <img [src]="image.urls.small" alt="{{ image.description }}" />
        </div>
      </div>
    </div>
    <div *ngIf="pageIndex < totalPages">
      <button class="load-more-btn" (click)="loadOtherPage()">Load more</button>
    </div>
  </section>
</main>
